@{
    ViewData["Title"] = "Add Product";
    string stringHtml = "<span class=\"display-inline\">Add Product</span>";
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "product";
}


<h1>Comming soon</h1>

