@{
    ViewData["Title"] = "Products";
    string stringHtml = "<span class=\"display-inline\">Products</span>";
    string AddButton = string.Format("<span class=\"nav-item\"><a class=\"btn nav-link btn-primary m-r-20 add-icon\" href=\"/product/add\"  ><span class=\"addIcon-txt\">Add New Product</span><img src=\"/images/icons/Plus.png\" /> </a></span>");

    ViewData["TabButton"] = AddButton;
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "product";
}


<h1>Comming soon</h1>

