@{
    ViewData["Title"] = "All Customer";
    string stringHtml = "<span class=\"display-inline\">Customers</span>";
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "user";
    var message = TempData["Message"] ?? string.Empty;
}



@await Component.InvokeAsync("User", new { isPartial = false, filter = ViewBag.Filters })



@section Scripts{
    <script>
        var message = "@message";
        if (message) {
            ShowSlackbarSucessMessage(message);
        }
    </script>
}