@{
    ViewData["Title"] = "Users";
    string stringHtml = "<span class=\"display-inline\">Users</span>";
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "user";
}


<h1>Comming soon</h1>



