@{
    ViewData["Title"] = "Add Notification";
    string stringHtml = "<span class=\"display-inline\">Add Notification</span>";
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "notification";
}


<h1>Comming soon</h1>

