@model CrazyPetals.Entities.WebViewModels.AddNotificationViewModel
@{
    ViewData["Title"] = "Add Notification";
    string stringHtml = "<span class=\"display-inline\">Add Notification</span>";
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "notification";
}
<div class="row">
    <div class="col-md-6 detail-container">
        <form asp-controller="notification" asp-action="add" autocomplete="off" spellcheck="false">
            <div class="detail-container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label float-label">Title</label>
                            <input type="text" asp-for="Title" class="form-control" maxlength="40" value="" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="Message" class="control-label float-label">Message</label>
                            <textarea asp-for="Message" rows="2" spellcheck="false" class="form-control" maxlength="100"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="detailBtn-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a asp-controller="notification" asp-action="index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
