@{
    ViewData["Title"] = "Notification";
    string stringHtml = "<span class=\"display-inline\">Notification</span>";
    string AddButton = string.Format("<span class=\"nav-item\"><a class=\"btn nav-link btn-primary m-r-20 add-icon\" href=\"/notification/add\"  ><span class=\"addIcon-txt\">Add New Notification</span><img src=\"/images/icons/Plus.png\" /> </a></span>");

    ViewData["TabButton"] = AddButton;
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "notification";
    var message = TempData["Message"] ?? string.Empty;
}



@await Component.InvokeAsync("Notification", new { isPartial = false, filter = ViewBag.Filters })



@section Scripts{
    <script>
        var message = "@message";
        if (message) {
            ShowSlackbarSucessMessage(message);
        }
    </script>
}