@{
    ViewData["Title"] = "Customer Details";
    string stringHtml = "<a href=\"/customer\"><img src=\"/images/icons/arrow-left.png\" class=\"vertical-middle iconWidth-25 cursor-pointer m-r-20\"></a>";
    stringHtml = stringHtml + "<span class=\"display-inline\">Customer Details</span>";

    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "customer";
}

<div class="row bg-white">
    <div class="col">
        <img src="~/images/icons/user profile@2x.png" alt="" class="detailView-img" />
    </div>
</div>