@model CrazyPetals.Entities.WebViewModels.AddBannerViewModel
@{
    ViewData["Title"] = "Add Advertisment Banner";
    string stringHtml = "<span class=\"display-inline\">Add Banner</span>";
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "banner";
}
<div class="row">
    <div class="col-md-6 detail-container">
        <form asp-controller="advertisementbanner" asp-action="add" autocomplete="off" spellcheck="false" enctype="multipart/form-data">
            <div class="detail-container">
                <img src="~/images/icons/default-img.png" id="tempImg" class="img-responsive add-banner-img display-inline m-r-25" />
                <label for="file-input" class="btn btn-primary">Add/Change Image</label>
                <input type="file" id="file-input" name="file" class="form-control display-none" accept="image/*">
                <div>
                    <input type="text" asp-for="ImageUrl" class="display-none" />
                    <span id="ImageName-error" class="text-danger mb-2" asp-validation-for="ImageUrl"></span>
                </div>
                <div class="row my-4">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="Caption" class="control-label float-label">Caption (Title) <span class="f-red">*</span></label>
                            <input type="text" asp-for="Caption" class="form-control" maxlength="40" value="" />
                            <span asp-validation-for="Caption" class="text-danger mb-3"></span>
                        </div>
                    </div>
                </div>
                <div class="detailBtn-group mt-4">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a asp-controller="advertisementbanner" asp-action="index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var _URL = window.URL || window.webkitURL;
        $("#file-input").change(function (e) {
            var file, img;
            $("#ImageName-error").text('');
            if ((file = this.files[0])) {
                if (file.type === "image/png" || file.type === "image/jpeg" || file.type === "image/jpg") {
                    img = new Image();
                    img.onload = function () {
                        $("#tempImg").attr("src", img.src);
                    };
                    img.src = _URL.createObjectURL(file);
                    $("#ImageUrl").val("Dummy Image URL")
                }
                else {
                    $("#ImageUrl").val("")
                    $("#ImageName-error").text('File is not a valid image.');
                }
            }
        });
        $.validator.setDefaults({
            ignore: [],
        });
    </script>
}
