
@{
    ViewData["Title"] = "Order Details";
    string stringHtml = "<span onclick=\"goToPreviousPage()\"><img src=\"/images/icons/arrow-left.png\" class=\"vertical-middle iconWidth-25 cursor-pointer m-r-20\"></span>";
    stringHtml = stringHtml + "<span class=\"display-inline\">Order Details</span>";

    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "order";
}


@section Scripts {
    <script>
        function goToPreviousPage() {
            window.history.back();
        }
    </script>
}

