@{
    ViewData["Title"] = "Orders";
    string stringHtml = "<span class=\"display-inline\">Orders</span>";

    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "order";
}


<h1>Comming soon</h1>

