@{
    ViewData["Title"] = "Category";
    string stringHtml = "<span class=\"display-inline\">Categories</span>";
    string AddButton = string.Format("<span class=\"nav-item\"><a class=\"btn nav-link btn-primary m-r-20 add-icon\" href=\"/category/add\"  ><span class=\"addIcon-txt\">Add New Category</span><img src=\"/images/icons/Plus.png\" /> </a></span>");

    ViewData["TabButton"] = AddButton;
    ViewData["TabHeading"] = stringHtml;
    ViewData["ActiveTab"] = "dashboard";
}


<h1>Comming soon</h1>

