     <!-- header -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div>
                <div class="nav nav_title">
                    <span class="nav-item f-bold f-24 display-inline m-r-40">@Html.Raw(ViewData["TabHeading"])</span>
                    @Html.Raw(ViewData["TabButton"])
                    <div class="position-relative custom-search">
                        @Html.Raw(ViewData["TabSearch"])
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>


        </nav>
    </div>
</div>
<!-- header end-->